header{
    background: rgba(229, 84, 115, 0.10); 
    
}
.benner-container{
    display: flex;
}
.benner-sec{
    padding: 100px 240px 0 150px;

}
.benner-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight:bold

}
.benner-des{
    color:#444343;
}
.btn{
    border-radius: 5px;
    border: 0px;
padding: 10px 20px;
color:white;
background-color: rgb(232, 88, 112);
}
.profile-pic{
    max-width: 400px;
width: 50%;
    height: 500px;
    padding-top: 50px;
  
}