/*header section*/


header{
    background: rgba(229, 84, 115, 0.10); 
    
}
.benner-container{
    display: flex;
}
.benner-sec{
    padding: 100px 240px 0 150px;

}
.benner-title{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-weight:bold

}
.benner-des{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.btn{
    border-radius: 5px;
    border: 0px;
    color: #FFF;
background-color: rgb(232, 88, 112);
padding: 20px 43px;
font-size: 20px;
}
.profile-pic{
    max-width: 400px;
width: 50%;
    height: 500px;
    padding-top: 50px;
  
}